.text-accent {
  color: #18263a !important;
}

.bg-accent {
  background-color: #18263a;
}

.bg-tomato {
  background-color: tomato;
}

.text-tomato {
  color: tomato;
}

.border-accent {
  border: 1px solid #18263a;
}
